In [6]:
import pandas as pd
from faker import Faker
import random

fake = Faker()

In [2]:
movies = pd.read_csv("./movies_metadata.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_13452\4020614403.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("./movies_metadata.csv")

In [4]:
movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [46]:
streets = ["Road", "Lane", "Street", "Avenue"]
floors = [str(num).zfill(2) for num in range(1, 26)]

In [21]:
fake.first_name_nonbinary()

'Christina'

In [48]:
def random_address() -> str:
    # (street, block, postal_code, unit)
    street = f"{fake.first_name_nonbinary()} {random.choice(streets)}"
    block = f"{random.randrange(100, 999)}"
    postal_code = f"{random.randrange(10000, 99999)}"
    unit_number = f"#{random.choice(floors)}-{random.randrange(10,99)}"
    return f"('{street}', '{block}', '{postal_code}', '{unit_number}')"

In [67]:
random_address()

"('Sara Lane', '187', '23185', '#03-21')"

In [75]:
def insert_random_addresses(n: int) -> str:
    res = """INSERT INTO Addresses (street, block, postal_code, unit) VALUES"""

    for _ in range(n-1):
        res += f"\n\t{random_address()},"
    res += f"\n\t{random_address()};"

    return res

In [114]:
def random_address_xslx(n: int):
    df = pd.DataFrame(columns = ['street', 'block', 'postal_code', 'unit'])

    for i in range(n):
        row = {
            'street' : f"{fake.first_name_nonbinary()} {random.choice(streets)}",
            'block' : f"{random.randrange(100, 999)}",
            'postal_code' : f"{random.randrange(10000, 99999)}",
            'unit' : f"#{random.choice(floors)}-{random.randrange(10,99)}"
        }
        df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)
        
    df.to_excel('random_addresses.xlsx', index=False)
    return df

In [116]:
random_address_xslx(90)

            street block postal_code    unit
0     Charles Road   895       97557  #14-45
1   Christine Road   121       57947  #17-49
2     Sabrina Lane   356       35230  #12-67
3        Lori Lane   336       36881  #22-32
4    Michelle Lane   489       58170  #14-42
..             ...   ...         ...     ...
85     Paul Street   661       15803  #14-65
86     Lauren Road   416       61943  #22-41
87   Robert Street   560       69690  #22-66
88   Isabella Lane   642       54951  #19-46
89   Marcus Avenue   406       19725  #11-13

[90 rows x 4 columns]