In [6]:
import pandas as pd
from faker import Faker
import random

fake = Faker()

In [2]:
movies = pd.read_csv("./movies_metadata.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_13452\4020614403.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("./movies_metadata.csv")

In [4]:
movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [46]:
streets = ["Road", "Lane", "Street", "Avenue"]
floors = [str(num).zfill(2) for num in range(1, 26)]

In [21]:
fake.first_name_nonbinary()

'Christina'

In [48]:
def random_address() -> str:
    # (street, block, postal_code, unit)
    street = f"{fake.first_name_nonbinary()} {random.choice(streets)}"
    block = f"{random.randrange(100, 999)}"
    postal_code = f"{random.randrange(10000, 99999)}"
    unit_number = f"#{random.choice(floors)}-{random.randrange(10,99)}"
    return f"('{street}', '{block}', '{postal_code}', '{unit_number}')"

In [67]:
random_address()

"('Sara Lane', '187', '23185', '#03-21')"

In [75]:
def insert_random_addresses(n: int) -> str:
    res = """INSERT INTO Addresses (street, block, postal_code, unit) VALUES"""

    for _ in range(n-1):
        res += f"\n\t{random_address()},"
    res += f"\n\t{random_address()};"

    return res

In [114]:
def random_address_xslx(n: int):
    df = pd.DataFrame(columns = ['street', 'block', 'postal_code', 'unit'])

    for i in range(n):
        row = {
            'street' : f"{fake.first_name_nonbinary()} {random.choice(streets)}",
            'block' : f"{random.randrange(100, 999)}",
            'postal_code' : f"{random.randrange(10000, 99999)}",
            'unit' : f"#{random.choice(floors)}-{random.randrange(10,99)}"
        }
        df = pd.concat([df, pd.DataFrame([row])], ignore_index=True)
        
    df.to_excel('random_addresses.xlsx', index=False)
    return df

In [116]:
random_address_xslx(90)

            street block postal_code    unit
0     Charles Road   895       97557  #14-45
1   Christine Road   121       57947  #17-49
2     Sabrina Lane   356       35230  #12-67
3        Lori Lane   336       36881  #22-32
4    Michelle Lane   489       58170  #14-42
..             ...   ...         ...     ...
85     Paul Street   661       15803  #14-65
86     Lauren Road   416       61943  #22-41
87   Robert Street   560       69690  #22-66
88   Isabella Lane   642       54951  #19-46
89   Marcus Avenue   406       19725  #11-13

[90 rows x 4 columns]

In [119]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [120]:
movies.loc[1]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            65000000
genres                   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
homepage                                                               NaN
id                                                                    8844
imdb_id                                                          tt0113497
original_language                                                       en
original_title                                                     Jumanji
overview                 When siblings Judy and Peter discover an encha...
popularity                                                       17.015539
poster_path                               /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
production_companies     [{'name': 'TriStar Pictures', 'id': 559}, {'na...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-15
revenue                                                        262797249.0
runtime                                                              104.0
spoken_languages         [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
status                                                            Released
tagline                          Roll the dice and unleash the excitement!
title                                                              Jumanji
video                                                                False
vote_average                                                           6.9
vote_count                                                          2413.0
Name: 1, dtype: object

In [123]:
movies.loc[1]['genres']

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"

In [125]:
movies.loc[1]['genres']

'{'

In [130]:
test = eval(movies.loc[1]['genres'])

In [131]:
test

[{'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 10751, 'name': 'Family'}]

In [149]:
df_movies = movies.loc[0:1000]

In [150]:
df_movies = df_movies[['original_title', 'genres', 'overview']]

In [151]:
df_movies = df_movies[df_movies['genres'].apply(lambda x: len(x)) > 2] # return true if length of genre > 2 (list is not empty)

In [153]:
df_movies

,original_title,genres,overview
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...
...,...,...,...
996,The Sword in the Stone,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",Wart is a young boy who aspires to be a knight...
997,So Dear to My Heart,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",The tale of Jeremiah Kincaid and his quest to ...
998,Robin Hood: Prince of Thieves,"[{'id': 12, 'name': 'Adventure'}]",When the dastardly Sheriff of Nottingham murde...
999,Mary Poppins,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","The movie combines a diverting story, songs, c..."
1000,Dumbo,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",Dumbo is a baby elephant born with oversized e...

In [154]:
def get_top_genre(str_list: str) -> str:
    genres = eval(str_list)
    return genres[0]['name']

In [155]:
get_top_genre(df_movies.loc[112]['genres'])

'Drama'

In [156]:
df_movies['genre'] = df_movies['genres'].apply(get_top_genre)

In [166]:
df_movies['publisher_id'] = 0
df_movies['publisher_id'] = df_movies['publisher_id'].apply(lambda _ : random.choice([1, 2, 3, 4, 5]))

In [167]:
df_movies

,original_title,genres,overview,genre,publisher_id
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",Animation,2
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Adventure,5
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Romance,4
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Comedy,3
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Comedy,3
...,...,...,...,...,...
996,The Sword in the Stone,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",Wart is a young boy who aspires to be a knight...,Animation,2
997,So Dear to My Heart,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",The tale of Jeremiah Kincaid and his quest to ...,Animation,3
998,Robin Hood: Prince of Thieves,"[{'id': 12, 'name': 'Adventure'}]",When the dastardly Sheriff of Nottingham murde...,Adventure,2
999,Mary Poppins,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","The movie combines a diverting story, songs, c...",Comedy,1
1000,Dumbo,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",Dumbo is a baby elephant born with oversized e...,Animation,5

In [169]:
df_movies['title'] = df_movies['original_title']
df_movies['description'] = df_movies['overview']

In [171]:
df_movies = df_movies[['title', 'genre', 'description', 'publisher_id']]

In [172]:
df_movies

,title,genre,description,publisher_id
0,Toy Story,Animation,"Led by Woody, Andy's toys live happily in his ...",2
1,Jumanji,Adventure,When siblings Judy and Peter discover an encha...,5
2,Grumpier Old Men,Romance,A family wedding reignites the ancient feud be...,4
3,Waiting to Exhale,Comedy,"Cheated on, mistreated and stepped on, the wom...",3
4,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,3
...,...,...,...,...
996,The Sword in the Stone,Animation,Wart is a young boy who aspires to be a knight...,2
997,So Dear to My Heart,Animation,The tale of Jeremiah Kincaid and his quest to ...,3
998,Robin Hood: Prince of Thieves,Adventure,When the dastardly Sheriff of Nottingham murde...,2
999,Mary Poppins,Comedy,"The movie combines a diverting story, songs, c...",1
1000,Dumbo,Animation,Dumbo is a baby elephant born with oversized e...,5

In [174]:
df_movies.to_excel("random_movies.xlsx", index=False)